/* 自定义样式 */
.el-input--small {
    position: relative;
}

.el-select .el-input .el-input__inner,
.el-select .el-input .el-input__inner:hover {
    line-height: 34px;
    height: 36px;
    padding-right: 28px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    color: #333333;
    font-size: 12px;
    border: 1px solid #E0E0E0;
}

.el-select.el-select-column__1 .el-input__inner,
.el-select.el-select-column__1 .el-input__inner:hover {
    line-height: 30px;
    height: 32px;
}

.el-select:hover .el-input__inner {
    border: 1px solid #E0E0E0;
}

.el-select .el-input .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
    /* box-shadow: 0px 0px 2px 0px rgba(56, 180, 135, 1);
    border: 1px solid rgba(56, 180, 135, 1); */
    box-shadow: none;
    border: 1px solid #E0E0E0;
}


.el-select .el-input.is-disabled .el-input__inner, .el-select .el-input__inner.is-disabled, .el-select:hover .el-input__inner.is-disabled{
    background: #EEEEEE;
    border-color: #E0E0E0;
}

.el-select .el-input__suffix .el-input__suffix-inner {
    display: block;
}

.el-select .el-input__suffix .el-input__icon {
    position: absolute;
    top: 0;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    line-height: 0 !important;
    display: block;
    content: '';
    border: 4px solid transparent;
    border-bottom-color: #909090;
    transform-origin: 50% 75%;
}

.el-select .el-input__suffix {
    background: transparent;
}

.el-select .el-input__suffix .el-input__icon.el-input__validateIcon,
.el-select .el-input__suffix .el-input__icon.el-icon-arrow-up:before {
    display: none;
}