.section-header {
    padding: 0 24px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(231, 232, 233, 1);
}



.section-container {
    padding: 0 24px 24px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(231, 232, 233, 1);
    .section-item-header {
        padding: 12px 0;

        span {
            height: 32px;
            line-height: 32px;
        }

    }

}


.section-search{
    margin-bottom:24px;
    padding:0 24px;
    background: white;
    border-radius: 2px;
    border: 1px solid #e7e8e9;

    .header-content {
        padding-top: 16px;

        .content-item {
            float: left;
            position: relative;
            padding: 0 40px 24px 0;

            &:last-child {
                padding-right: 0;
            }

            .el-select {
                position: relative;
                width: 150px;

                /deep/ .el-input__inner {
                    height: 32px;
                    line-height: 30px;
                }
            }

            .search-input {
                width: 180px;

                /deep/ .el-input__inner {
                    height: 32px;
                    line-height: 30px;
                }
            }

            .header-left {
                float: left;
                padding-right: 24px;
                font-size: 12px;
                color: rgba(51, 51, 51, 1);
                line-height: 32px;
            }

            .header-right {
                float: left;
            }
        }
    }
}


.section-ota-update{
    .update-equipment{
        float:right;
        padding:0 6px;
        height:32px;
        line-height: 32px;
        font-size: 12px;
    }

    .update-btn{
        width: 68px;
        height: 30px;
        line-height:30px;
        color:#FFF;
        background: #FFB73C;
        border-radius: 3px;
        cursor: pointer;
    }

    .update-btn-disable{
        color:#999;
        background:#E8E8E8;
    }

    .offline{
        color:#C8C8C8
    }

}
