.section-container {
  padding: 0 24px 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border: 1px solid rgba(231, 232, 233, 1);

  .section-header {
    .header-content {
      padding-top: 16px;

      .content-item {
        float: left;
        position: relative;
        padding-right: 40px;
      }

      .export-btn {
        padding: 0 16px 0 42px;
      }

      .header-left {
        float: left;
        padding-right: 24px;
        font-size: 12px;
        color: rgba(51, 51, 51, 1);
        line-height: 36px;
      }

      .header-right {
        float: left;
      }
    }
    .el-input__inner {
      height: 32px;
    }
    .export-btn {
      float: right;
      width: auto;
    }
  }

  .section-main {
    padding-top: 16px;

    .table {
      .td-item {
        padding: 0 5px;
      }

      .table-operate {
        .td-item {
          padding: 0;
          display: flex;
          align-items: center;

          .td-balance {
            background: url('../../assets/img/balance.png') no-repeat;
          }
          .td-ali-pay {
            background: url('../../assets/img/sesame.png') no-repeat;
          }
          .td-wechat-pay {
            background: url('../../assets/img/wechat-point.png') no-repeat;
          }

          .td-card {
            background: url('../../assets/img/card.png') no-repeat;
          }

          .td-other {
            background: url('../../assets/img/other.png') no-repeat;
          }

          .td-type {
            width: 32px;
            height: 32px;
            background-size: cover;
          }
        }
      }
    }
  }
  .table-left {
    padding-left: 43px;
    justify-content: initial;
  }

  .table-body {
    .table-left {
      font-size: 12px;
      color: #2c393b;
    }
  }
}
